html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ol,
ul {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
textarea,
select,
button {
  font: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
  border-color: transparent;
  border: 0;
  padding: 0;
}

a {
  text-decoration: transparent;
  color: inherit;
}

address {
  font-style: normal;
}