.breadcrumbs {
  margin: 159px 0 60px;
  padding: 24px 0;
  background-color: rgba(255, 122, 80, 0.1);


  @include max-w($lg) {
    margin-top: 87px;
  }

  @include max-w($sm) {
    margin-bottom: 40px;
  }

  &__items {
    display: flex;
    color: #505050;
    font-size: 14px;
    line-height: 1.2;
  }

  &__item {
    margin-right: 17px;
    position: relative;

    &:first-child,
    &:last-child {
      @include max-w($sm) {
        display: block;
      }
    }

    &::before {
      @include pseudo;
      background-image: url('../images/icons/breadcrumbs/arrow.svg');
      width: 6px;
      height: 10px;
      left: -10px;
      top: 50%;
      transform: translateY(-50%);
    }

    &:first-child::before {
      display: none;
    }
  }
}