.mobile-menu {
  position: fixed;
  transform: translateX(-200%);
  z-index: 3;
  transition: transform 0.4s;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: $orange;

  &__content {
    min-width: 300px;
    height: 100vh;
    padding-top: 170px;

    @include max-h ($xs) {
      padding-top: 110px;
    }
  }

  &__logo.logo {
    left: 50%;
    transform: translate(-50%, -170px);

    @include max-h ($xs) {
      transform: translate(-50%, -126px);
    }
  }

  &__items {
    font-size: 18px;
    margin-bottom: 6px;
    padding: 25px 0;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__link {
    &--active {
      color: $white;
    }
  }

  &--active {
    transform: translateX(0);
    z-index: 13;
  }
}